.mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}
#mfilter-opts-price-min, #mfilter-opts-price-max {
    width: 89px  !important;
    min-width: 85px !important;
    max-width: 86px  !important;
    display: inline-block;
}

				.mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			
.mfilter-box-1 .mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-box-1 .mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-box-1.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-box-1 .mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			