
	<div class="input-group">
		<input type="text" name="voucher" value="{{voucher}}" placeholder="{{entry_voucher}}" id="input-voucher" class="form-control" />
		<span class="input-group-btn">
			<button type="submit" id="button-voucher" data-loading-text="{{text_loading}}"  class="btn btn-primary">{{button_voucher}}</button>
		</span>
	</div>

<script type="text/javascript"><!--
$('#onepagecheckout input[name=\'voucher\']').keypress(function(event) {
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13') {
		$('#button-voucher').trigger('click');
	}
});
$('#button-voucher').on('click', function() {
  $.ajax({
    url: 'index.php?route=extension/onepagecheckout/voucher/voucher',
    type: 'post',
    data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
    dataType: 'json',
    beforeSend: function() {
      $('#button-voucher').button('loading');
    },
    complete: function() {
      $('#button-voucher').button('reset');
    },
    success: function(json) {
      $('.alert').remove();
	  $('.text-danger').remove();
		if (json['error']){
			$('#voucher-coupon-reward-error').html('<p class="text-danger"> ' + json['error'] + '</p>');
		}
			
		if (json['redirect']) {
		// Load Cart
			LoadCart();
		}
    }
  });
});
//--></script>